.bgc-red{
    background-color: red;
}

.bgc-blue{
    background-color: blue;
}

.bgc-green{
    background-color: green;
}

.bgc-gold{
    background-color: gold;
}

.bgc-purp{
    background-color: purple;
}

.db-header{
    min-height: 40px;
    width: 100%;
}

.db-bord{
    border: 1px solid black;
}


.height-40{
    height: 40px;
}


.min-hei-db-big{
    min-height: 400px;
}

.min-hei-db-small{
    min-height: 100px;
}