/**rest**/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.null-a{
    text-decoration: none;
    color: inherit;
}

.footer ul li{
    padding-top: 15px;
}

.footer h3{
    padding-bottom: 15px;
}

.block{
    display: block;
}


/**container**/

.container-big{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.container-small{
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}


/**tipografia**/
.txt-cent{
    text-align: center;
}

.size-big{
    font-size: 5rem;
    font-weight: 2rem;
}

.txt-left{
    text-align: left;
}

.txt-white{
    color: white;
}

.txt-grey{
    color: gray;
}

.txt-blue{
    color: #0061fe;
}


/**bording**/

.border-grey{
    border: 1px solid grey;
}

.borderb-grey{
    border-bottom: 1px solid grey;
}


/**margin**/



.marginbot-40{
    margin-bottom: 40px;
}


.margint-40{
    margin-top: 40px;
}


.margint-80{
    margin-top: 80px;
}
/**padding**/


.pad-15{
    padding: 15px ;
}

.padt-15{
    padding-top: 15px;
}

.padt-30{
    padding-top: 30px;
}

.pad-hero{
    padding-top: 50px; 
}

.pad-content{
    padding-top: 70px;
}

.pad-30{
    padding-top: 30px;
}


/**bottoni**/

.btn{
    padding: 5px;
}

.btn-blu{
    background-color: #0061fe;
}

/**header**/


.header{
    padding: 30px;
}



/**hero**/

.hero{
    background-color: #b4d0e6;
    min-height: 600px;
}

.pad-tit{
    padding-bottom: 30px;
}
/**display flex**/
.row{
    display: flex;
}

.gap-20{
    gap: 20px;
}

.r-gap-30{
    row-gap: 30px;
}

.r-wrap{
    flex-wrap: wrap;
}

.jfc-sbt{
    justify-content: space-between;
}

.jfc-cent{
    justify-content: center;
}

.al-cent{
    align-items: center;
}


.col-10{
    width: 10%;
}

.col-20{
    width: 20%;
}


.col-33{
    width: calc((100% - 20px) / 3);
}


.col-35{
    width: 35%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}


.col-60{
    width: 60%;
}


.col-65{
    width: 65%;
}


.col-80{
    width: 80%;
}

.col-90{
    width: 90%;
}


/**footer**/

.footer{
    background-color: black;
}







